:root {
  --primary-color: #F9F7F7;
  --secondary-color: #3F72AF;
  --text-color: #112D4E;
  --second-secondary: #DBE2EF;
  --red: #C84949;
  --yellow: #EBC040;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
a {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}

.sm-logo{
  width: 6rem;
}
.navbar {
    padding: 1rem;
    background-color: var(--primary-color);
    
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: var(--text-color); 
}

.navbar-nav .nav-link {
    margin-right: 15px;
}

/* Showcase */
.jumbotron {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    background-color: var(--second-secondary);
    margin: 0px;
}

.showcase-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#wd, #cp{
  color: #3F72AF;
}

/* Profile image */
.image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    position: relative;
    width: 300px;
    height: 450px;
    background-color: var(--second-secondary);
    margin: 20px 40px;
    overflow: hidden !important;
    animation: profileMove 4s ease-in-out infinite;

}

.box::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 100px 0 40px var(--second-secondary);
    transition: all 1s;
}

.box::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid transparent;
    border-bottom:  6px solid var(--text-color);
    border-right:  6px solid var(--text-color);
    border-left:  6px solid var(--text-color);
    transition: all 1s;
}

.box .circle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    overflow: hidden !important;
    border-radius: 50%;
    border: 6px solid var(--text-color);
    transition: all 1s;
}

.box .circle img,
.box img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 450px;
    width: 100%;
    max-width: 300px;
    height: auto;
    transition: all 1s;
}

#profile-image-hover {
    opacity: 0;
    transition: all 1s;
}

#profile-image-hover2 {
    opacity: 0;
    transition: all 1s;

}

.button {
    border-radius: 50%; 
    background-color: var(--text-color); 
    color: var(--primary-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease; 
    margin: 5px;
    padding: 0rem; 
    font-size: 1.6rem; 
    width: 3.5rem; 
    height: 3.5rem; 
}

.button a {
    text-decoration: none;
}

.button .icon {
    font-size: 2rem !important; 
    color: var(--text-color); 
    transition: opacity .5s ease; 
}

.button .text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-color);
    color: var(--primary-color); 
    padding: 1rem; 
    border-radius: 1.5rem; 
    font-size: 1.2rem;
    white-space: nowrap;
    transition: opacity .5s ease; 
}

.button:hover {
    border-radius: 1.5rem; 
    width: 10rem; 
}

.button:hover .text {
    display: block;
    opacity: 1;
    transition: opacity .5s ease; 
}

.button:hover .icon {
    opacity: 0;
}

.button:hover {
    background-color: var(--text-color); 
}

/* Responsive buttons */
@media screen and (max-width: 768px) {
    .button {
        padding: 1rem; 
        font-size: 1.5rem; 
        width: 4rem; 
        height: 4rem;
    }
}

/* Cubes */
#cube1 {
    position: absolute;
    left: 150px;
    top: 100px;
    font-size: 30px;
    color: var(--text-color);
    transform-style: preserve-3d;
    animation: rotateAndMove 15s ease-in-out infinite;
}

#cube2 {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 30px;
    color: var(--yellow);
    transform-style: preserve-3d;
    animation: rotateZ 10s ease-in-out infinite reverse;
}

#cube3 {
    position: absolute;
    left: 500px;
    top: 400px;
    font-size: 30px;
    color: var(--secondary-color);
    transform-style: preserve-3d;
    animation: rotateAndMove2 10s ease-in-out infinite;
}

#cube4 {
    position: absolute;
    right: 200px;
    bottom: 100px;
    font-size: 30px;
    color: var(--red);
    transform-style: preserve-3d;
    animation: rotateZ 10s ease-in-out infinite;
}

/* Responsive Showcase */
@media only screen and (max-width: 770px) {
  
  .cube{
    display: none;
  }
}

@media only screen and (max-width: 450px) {

  h1{
    font-size: 45px !important;
  }
  .jumbotron{
    overflow: hidden;
    padding-top: 20px;
  }

.box{
    width: 200px;
    height: 250px;
}

.box::before{
    width: 200px;
    height: 200px;
}

.box::after{
    width: 200px;
    height: 200px;
}

.box .circle{
    width: 200px;
    height: 200px;
}

.box .circle img,
.box img{
    height: auto;
}
}


/* Projects Section */
#projects{
    height: auto;
}
.projects-section {
    background-color: #efefef;
    padding: 80px 0; 
}

.projects-title {
    text-align: center;
    margin-bottom: 50px; 
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100%; 
    max-width: 350px;
    max-height: 200px; 
    margin: 0 10px 30px;
    background: #cacaca;
}

.card .image {
    position: relative; 
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card .image img {
    width: 100%;
    height: auto;
    transition: .5s;
}

.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
}

.card .details {
    position: absolute;
    top: 0;
    left: 100%; 
    width: calc(100% - 20px); 
    max-width: 250px; 
    height: 100% !important;
    background: rgba(63,114,175, 0.9);
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    overflow: hidden;
}

.card:hover .details {
    left: 0; 
    transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
    padding: 10px 20px;
    text-align: center;
}

.card .details .center h1 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}

.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: var(--primary-color);
}

.card .details .center a.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--text-color);
    color: var(--second-secondary);
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 50%;
}

.card .details .center a.btn:hover {
    background: var(--primary-color);
    color: var(--text-color);
}


/* Projects Responsive */
@media only screen and (max-width: 1200px) {

  .projects-section{
    height: 50vh;
  }
  .projects-title{
    margin: 5vh;
  }
  .card{
    margin: 10px;
  }
}

@media only screen and (max-width: 1000px) {

  .card {
    width: 250px;
    height: 200px;
    background: #000;
}
  .card a{
    font-size: 10px;
  }
  .projects-title{
    font-size: 30px;
  }
}

@media only screen and (max-width: 800px) {
    
  .card {
    width: 350px !important;
    height: 130px;
    background: #000;
    font-size: 8px !important;
}
  .card a{
    font-size: 10px !important;
  }
    .projects-title{
    font-size: 20px;
  }
}
@media only screen and (max-width: 450px) {
    
  .card {
    width: 350px !important;
    height: 130px;
    background: #000;
    font-size: 8px !important;
}
  .card h1{
    font-size: 10px !important;
  }
    .projects-title{
    font-size: 20px !important;
  }
}

/* About Section */
#about {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: var(--second-secondary);
}
.about-section img {
    max-width: 100%;
}
.about-section img {
    vertical-align: middle;
    border-style: none;
}

.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: var(--text-color);
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 3px 0;
}
.about-list label {
  color: var(--text-color);
  font-weight: 600;
  width: 25px;
  margin: 0;
  position: relative;
}

.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}

.theme-color {
    color: var(--secondary-color);
}
.dark-color {
    color: var(--text-color);
    font-weight: 300;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: 20px; 
    opacity: 0;
    animation: appear 1s forwards;
    width: 50px;
    height: 50px;
}

.logo img {
    width: 50px; 
    height: auto;
    transition: transform 0.3s ease; 
}

.logo:hover img {
    transform: scale(1.5); 
}


@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo:nth-child(1) {
    animation-delay: 0.2s;
}

.logo:nth-child(2) {
    animation-delay: 0.4s;
}

.logo:nth-child(3) {
    animation-delay: 0.6s;
}

.logo:nth-child(4) {
    animation-delay: 0.8s;
}

.logo:nth-child(5) {
    animation-delay: 1s;
}
.logo:nth-child(6) {
    animation-delay: 1.2s;
}
.logo:nth-child(7) {
    animation-delay: 1.4s;
}
.logo:nth-child(8) {
    animation-delay: 1.6s;
}
.logo:nth-child(9) {
    animation-delay: 1.8s;
}
.logo:nth-child(10) {
    animation-delay: 2s;
}
.logo:nth-child(11) {
    animation-delay: 2.2s;
}

/* Animations */

@keyframes rotateAndMove {
    0% {
        transform: rotateY(0) translateX(200px) rotateZ(0);
    }
    100% {
        transform: rotateY(360deg) translateX(200px) rotateZ(360deg);
    }
}

@keyframes rotateZ {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotateAndMove2 {
    0%, 100% {
        transform: translateY(0) rotateZ(0deg);
    }
    50% {
        transform: translateY(100px) rotateZ(180deg);
    }
    100% {
        transform: translateY(0) rotateZ(360deg);
    }
}

@keyframes profileMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}